@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600');


$color-main: #fff;

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit; 
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  background-color: #D5D5D5;

  display: flex;
  align-items: center;
  justify-content: center;
}

/// HEADINGS ///

.second-heading {
  display: block;
  font-size: 1.8rem;
  font-weight: 300;
  color: #666;
  text-transform: capitalize;
  letter-spacing: -.5px;
  border-bottom: 1px solid #d5d5d5;
  padding-bottom: 5px;

  &::after {
    content: "";
    position: relative;
    display: block;
    height: 4px;
    width: 4rem;
    background-image: linear-gradient(
    to right,
    #f24b90,
    #f78167);
    top: 7px;
  }
}

.third-heading {
  font-size: 1.5rem;
  color: #777;
  font-weight: 300;
}

.weather-app {
  //height: 80vh;
  max-width: 120rem;
  margin: 3rem auto;

  display: flex;
}

.search-menu {
  //display: none;
}

.details-forecast-wrapper {
  background-color: #fff;
  border-radius: 0 10px 10px 0;
  padding: 30px 35px;
  min-width: 60rem;

  display: flex;
  flex-direction: column;
}

.weather {
  min-width: 35rem;
  border-radius: 10px 0 0 10px;
  padding: 30px 35px;
  background-image: linear-gradient(
    to right bottom,
    #f24b90,
    #f85782,
    #fa6577, 
    #fa736d, 
    #f78167);
  color: #F7F7F7;
 
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__search {
    display: flex;
    justify-content: space-between;
  }

  &__search-icon {
    display: flex;
    align-items: center;
  }

  &__today-info {
    font-size: 1.2rem;
    text-transform: capitalize;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__icon {
    text-align: center;
    color: #f7f7f7;
  }

  &__icon svg {
    margin: 2rem 0;
  }

  &__info {
    text-transform: capitalize;
    margin-bottom: 4rem; 
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &--temp {
      font-size: 10rem;
      font-weight: 200;
    }

    &--city {
      font-size: 2.5rem;
      font-weight: 300;
      padding: .5rem 0;
    }

    &--desc {
      text-transform: lowercase;
      font-size: 1.3rem;
      font-weight: 300;
    }

    &::after {
      content: "";
      position: relative;
      display: block;
      height: 1px;
      width: 3rem;
      background-color: #f7f7f7;
      top: 30px;
    }
  }

  /*&__today {
    height: 100%;
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }*/
}

/// DEGREE SYMBOL ///

.degree-symbol {
  font-size: 4rem;
  font-weight: 400;
  position: relative;
  top: -5rem;
}

//////////////////
/// DETAILS ///

.details {
  display: flex;
  flex-direction: column;

  &__list {
    padding: 4rem 2rem; 
    display: flex;
    justify-content: space-between;
  }

  &__list-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }

  &__icon {
    height: 5rem;
    width: 5rem;
    background-image: linear-gradient(
      to right bottom,
      #f24b90,
      #f85782,
      #fa6577, 
      #fa736d, 
      #f78167);
    margin-bottom: 2rem;
    fill: currentColor;
    -webkit-mask-image-size: cover;

    &--sunrise {
      -webkit-mask-image: url(icons/sunrise.svg);
    }
    &--sunset {
      -webkit-mask-image: url(icons/sunset.svg);
    }
    &--humidity {
      -webkit-mask-image: url(icons/humidity.svg);
    }
    &--pressure {
      -webkit-mask-image: url(icons/pressure.svg);
    }
  }
}

////////////////
/// FORECAST ///

.forecast {

  &__list {
    padding: 4rem 2rem;

    display: flex;
    flex-direction: column;
  }

  &__list-item {
    list-style: none;
    text-transform: capitalize;
    color: #777;
    font-size: 1.6rem;

    display: flex;
    justify-content: space-between;  
  }
}

.forecast__heading {
  font-weight: 500;
  position: relative;
  text-align: center;
  padding: 10px 0;
}

.forecast__heading::before,
.forecast__heading::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 1px;
  background-color: #0C345E;
  top: 50%;
}

.forecast__heading::before {
  left: auto;
  margin-left: -38px;
}

.forecast__heading::after {
  left: auto;
  margin-left: 10px;
}

.forecast__detailed {
  list-style: none;
  height: 100%;
  background-color: #fff;

  padding-top: 15px;
  display: flex;
  align-items: stretch;
  /*justify-content: space-around;*/
}

.forecast__daily-box {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to bottom, 
    rgba(238, 202, 129, 0.836), 
    rgb(238, 210, 155));
  display: inline-flex;
  font-weight: 500;

  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.forecast__temp--day {
  font-size: 20px;
}