@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700");
* {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  background-color: #f7f7f7;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.first-heading {
  font-size: 3.8rem;
  padding-bottom: 6rem;
  color: #292522; }

.second-heading {
  display: block;
  font-size: 1.8rem;
  font-weight: 300;
  color: #666;
  text-transform: capitalize;
  letter-spacing: -.5px;
  border-bottom: 1px solid #d5d5d5;
  padding-bottom: 5px; }
  .second-heading__bar {
    position: relative;
    height: 4px;
    width: 4rem;
    top: -3px; }

.third-heading {
  font-size: 1.5rem;
  color: #777;
  font-weight: 300; }

.weather-app {
  height: 90vh;
  max-width: 120rem;
  margin: 3rem auto;
  border-radius: 10px;
  box-shadow: 0 5px 40px -3px rgba(59, 59, 59, 0.9);
  display: flex;
  position: relative; }

.details-forecast-wrapper {
  background-color: #fff;
  border-radius: 0 10px 10px 0;
  padding: 30px 35px;
  min-width: 60rem;
  border: 1px solid #e7e7e7;
  display: flex;
  flex-direction: column; }

.weather {
  min-width: 35rem;
  border-radius: 10px 0 0 10px;
  padding: 30px 35px;
  color: #F7F7F7;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*&__today {
    height: 100%;
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }*/ }
  .weather__search {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    z-index: 100; }
  .weather__search-button {
    border: none;
    transition: all .3s;
    height: 5rem;
    width: 5rem;
    background-color: #f7f7f7;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -7px;
    margin-left: -7px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3); }
    .weather__search-button:focus {
      outline: none; }
    .weather__search-button:hover {
      transform: scale(1.1); }
    .weather__search-button:active {
      transform: translateY(3px); }
  .weather__search-icon {
    height: 3rem;
    width: 3rem;
    -webkit-mask-size: cover;
    -webkit-mask-image: url(icons/svgs/search.svg);
    display: inline-flex;
    align-items: center; }
  .weather__today-info {
    font-size: 1.2rem;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
  .weather__icon {
    text-align: center;
    color: #f7f7f7; }
  .weather__icon svg {
    margin: 2rem 0;
    transform: scale(1.6);
    position: absolute;
    top: 1.5rem;
    right: -4rem; }
  .weather__info {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .weather__info--temp {
      font-size: 10rem;
      font-weight: 200; }
    .weather__info--city {
      text-transform: uppercase;
      font-size: 2.5rem;
      font-weight: 300;
      padding: .5rem 0; }
    .weather__info--desc {
      text-transform: lowercase;
      font-size: 1.3rem;
      font-weight: 300; }
    .weather__info::after {
      content: "";
      position: relative;
      display: block;
      height: 1px;
      width: 3rem;
      background-color: #f7f7f7;
      top: 20px; }

.degree-symbol {
  font-size: 4rem;
  font-weight: 400;
  position: relative;
  top: -5rem; }

.details {
  display: flex;
  flex-direction: column; }
  .details__list {
    padding: 4rem 2rem;
    display: flex;
    justify-content: space-between; }
  .details__list-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center; }
  .details__icon {
    height: 5rem;
    width: 5rem;
    /*background-image: linear-gradient(
      to right bottom,
      #f24b90,
      #f85782,
      #fa6577, 
      #fa736d, 
      #f78167);*/
    margin-bottom: 2rem;
    fill: currentColor;
    -webkit-mask-image-size: cover;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center; }
    .details__icon--sunrise {
      -webkit-mask-image: url(icons/svgs/sunrise.svg); }
    .details__icon--sunset {
      -webkit-mask-image: url(icons/svgs/sunset.svg); }
    .details__icon--humidity {
      -webkit-mask-image: url(icons/svgs/humidity.svg); }
    .details__icon--pressure {
      -webkit-mask-image: url(icons/svgs/pressure.svg); }

.forecast__list {
  padding: 4rem 2rem 0 2rem;
  display: flex;
  flex-direction: column; }

.forecast__list-item {
  list-style: none;
  text-transform: capitalize;
  color: #777;
  font-size: 1.6rem;
  margin-bottom: 2.5rem;
  border-bottom: 1px solid #e7e7e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*&:first-of-type {
      font-size: 1rem;
      letter-spacing: -.2px;
      padding-bottom: 15px;

      display: flex;
      justify-content: flex-end;
    }*/ }
  .forecast__list-item:last-of-type {
    padding-bottom: 0; }

.forecast__info {
  width: 25rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.forecast__temp-header--morning, .forecast__temp-header--day, .forecast__temp-header--evening {
  display: inline-block;
  transform: rotate(-50deg);
  margin-left: -7px; }

.forecast__desc {
  width: 15rem;
  text-align: end;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: lowercase;
  padding-right: 3rem;
  color: #999; }

.forecast__temp {
  font-size: 1.7rem;
  font-weight: 500;
  color: #999;
  width: 10rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .forecast__temp--morning {
    padding-right: 4px; }
  .forecast__temp--day {
    margin-top: -5px;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.search-menu-wrapper {
  min-width: 95rem;
  z-index: 200;
  height: 90vh;
  border-radius: 10px;
  position: absolute;
  background-image: url(icons/images/boy.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center; }

.inactive {
  display: none; }

.search-menu {
  position: relative;
  height: 100%;
  width: 60%;
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  padding: 8rem;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%); }

.form__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%; }
  .form__group--radio {
    display: inline-block;
    width: 42%; }
  .form__group--text {
    flex-direction: column; }

.form fieldset {
  border: none; }

.form__input {
  font-family: inherit;
  color: inherit;
  display: block;
  font-size: 1.5rem;
  border: none;
  border-radius: 2px;
  border-bottom: 3px solid transparent;
  width: 75%;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  .form__input--radio {
    display: none; }
  .form__input--text {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-20px);
    -webkit-transition: all .8s;
    transition: all .8s;
    padding: 0; }
  .form__input--radio:checked + .form__label--radio .form__button--radio::after {
    opacity: 1; }
  .form__input--radio#destination:checked ~ .form__input--text {
    opacity: 1;
    height: auto;
    transform: translateY(0);
    padding: 1.5rem 2rem; }

.form__label {
  padding-bottom: 2rem; }
  .form__label--radio {
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;
    align-self: flex-start; }
  .form__label--text {
    padding-left: 4rem; }

.form__button {
  display: inline-block;
  width: 20rem;
  padding: 2rem 3.5rem;
  margin-top: 5rem;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10rem;
  position: relative;
  cursor: pointer;
  border: none;
  background-color: #C43D41;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
  -webkit-box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
  box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
  -webkit-backface-visibility: hidden; }
  .form__button--radio {
    height: 3rem;
    width: 3rem;
    border: 5px solid #C43D41;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: -.7rem; }
    .form__button--radio::after {
      content: "";
      height: 1.2rem;
      width: 1.2rem;
      border-radius: 50%;
      background-color: #C43D41;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      opacity: 0;
      -webkit-transition: opacity .3s;
      transition: opacity .3s; }

.preloader {
  position: fixed;
  height: 90vh;
  min-width: 95rem;
  background-color: #fff;
  background-color: #f7f7f7;
  border-radius: 10px;
  z-index: 1000;
  opacity: 1;
  transition: opacity 350ms ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .preloader__icon--cloud1 {
    height: 120px;
    width: 120px;
    position: relative;
    z-index: 300;
    animation-name: move1;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }
  .preloader__icon--cloud2 {
    height: 100px;
    width: 100px;
    position: relative;
    top: -1rem;
    z-index: 200;
    animation-name: move2;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }
  .preloader__text {
    font-size: 1.8rem; }

.preloader__hiding {
  opacity: 0; }

.preloader__hidden {
  display: none; }

@keyframes move1 {
  0% {
    left: 3rem; }
  50% {
    left: 0; }
  100% {
    left: 3rem; } }

@keyframes move2 {
  0% {
    left: -3rem; }
  50% {
    left: 0; }
  100% {
    left: -3rem; } }

/*#destination:checked + .form__input--text {
  opacity: 1;
}

#location:checked + .form__input--text {
  opacity: 0;
}*/
