@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600");
* {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  background-color: #D5D5D5;
  display: flex;
  align-items: center;
  justify-content: center; }

.second-heading {
  font-size: 1.8rem;
  text-transform: capitalize;
  font-weight: 300;
  color: #666;
  letter-spacing: -.5px; }

.weather-app {
  max-width: 120rem;
  border-radius: 10px 0;
  margin: 5rem auto;
  display: flex; }

.weather {
  min-width: 35rem;
  border-radius: 10px 0;
  padding: 30px 35px;
  background-image: linear-gradient(to right bottom, #f24b90, #f85782, #fa6577, #fa736d, #f78167);
  color: #F7F7F7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*&__today {
    height: 100%;
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }*/ }
  .weather__search {
    display: flex;
    justify-content: space-between; }
  .weather__search-icon {
    display: flex;
    align-items: center; }
  .weather__today-info {
    font-size: 1.2rem;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
  .weather__icon {
    text-align: center;
    color: #f7f7f7; }
  .weather__icon svg {
    margin-top: 2rem; }
  .weather__info {
    text-transform: capitalize;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .weather__info--temp {
      font-size: 10rem;
      font-weight: 200; }
    .weather__info--city {
      font-size: 2.5rem;
      font-weight: 300;
      padding: .5rem 0; }
    .weather__info--desc {
      font-size: 1.3rem;
      font-weight: 300; }
    .weather__info::after {
      content: "";
      position: relative;
      display: block;
      height: 1px;
      width: 3rem;
      background-color: #f7f7f7;
      top: 30px; }

.degree-symbol {
  font-size: 4rem;
  font-weight: 400;
  position: relative;
  top: -5rem; }

.details-forecast-wrapper {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column; }

.details {
  display: flex;
  flex-direction: column; }

.details__list-item {
  display: inline-block; }

.forecast {
  height: 30%;
  color: #0C345E;
  text-transform: capitalize; }

.forecast__heading {
  font-weight: 500;
  position: relative;
  text-align: center;
  padding: 10px 0; }

.forecast__heading::before,
.forecast__heading::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 1px;
  background-color: #0C345E;
  top: 50%; }

.forecast__heading::before {
  left: auto;
  margin-left: -38px; }

.forecast__heading::after {
  left: auto;
  margin-left: 10px; }

.forecast__detailed {
  list-style: none;
  height: 100%;
  background-color: #fff;
  padding-top: 15px;
  display: flex;
  align-items: stretch;
  /*justify-content: space-around;*/ }

.forecast__daily-box {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(238, 202, 129, 0.836), #eed29b);
  display: inline-flex;
  font-weight: 500;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

.forecast__day {
  font-size: 14px;
  font-weight: 600; }

.forecast__temp--day {
  font-size: 20px; }
